$textColor: #fff;
$secondaryTextColor: #000;

$primaryColor: #ff69b4; // Rosa vibrante
$secondaryColor: #ffdab9; // Pêssego claro
$accentColor: #ffd700; // Amarelo dourado
$partyBlue: #87ceeb; // Azul céu
$partyPurple: #9370db; // Roxo lavanda